.DS_Store
dist
.idea
*.iml
build
bin
classes
user.properties
src/priv_key
src/pub_key
src/user.properties
lib/moneydance*.jar
lib/jdk*.jar
lib/okio*.jar
lib/plaid*.jar
lib/commons*.jar
MoneydanceOpen.iws
/python_scripts/*$py.class
/python_scripts/*.pyc
!bin/repackage-jython
.jython_cache