.DS_Store
dist
.idea
*.iml
build
bin
classes
lib/moneydance.jar
lib/jdk*.jar
lib/okio*.jar
lib/plaid*.jar
lib/commons*.jar
MoneydanceOpen.iws
/python_scripts/*$py.class
/python_scripts/*.pyc
!bin/repackage-jython
.jython_cache
src/user.properties.sh
.gradle/
userconfig/*
!userconfig/template/
/mdbuildlibs/
/python_scripts/*/META-INF/*
user.properties
user.gradle.properties
priv_key
pub_key

