.DS_Store
dist
.idea
*.iml
build
bin
classes
user.properties
src/priv_key
src/pub_key
src/user.properties
lib/moneydance-dev.jar
lib/moneydance-private.jar
lib/moneydance.jar
lib/jdk_1.8_rt.jar
MoneydanceOpen.iws
